footer {
  background-color: $quinary;
  padding: .5rem;
  text-align: center;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  & .copyright {
    margin-left: 6rem;
  }

  & span {
    font-weight: bold;
    font-style: italic;
    margin-right: .1rem;
  }
}