footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerContent {

  & span {
    font-weight: bold;
    font-style: italic;
    margin-right: .1rem;
  }
}