.mainContent {
  background-color: $secondary;
  padding: 2rem 0;
}

.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

.movieCard {
  background-color: $solidwhite;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.movieCard:hover {
  transform: translateY(-5px);
}

.movieCard img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.movieTitle {
  margin-bottom: .8rem;
}

.movieOverview {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieRating {
  margin: .8rem 0 .6rem 0;
}