@font-face {
  font-family: "Jakarta Sans";
  src: url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff),
    url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2),
    url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff),
    url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2),
    url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Young Serif";
  src: url(../fonts/youngserif/YoungSerif-Regular.otf);
}

// ==== Global Typography ====
html {
  font-size: 125%;
}

body {
  font-family: $secondaryFont;
  font-size: $baseFontSize;
  color: $primary;
}

h1 {
  color: $secondary;
  font-family: $primaryFont;
  @include fontSize(68);
}

h2 {
  @include fontSize(22);
}

// ==== Header Typography ====
.mainHeader {
  & p {
    @include fontSize(18);
  }
}

.headerSpan {
  color: $quaternary;
  font-weight: 500;
}

// ==== Form Typography ====
.genreSelect {
  font-size: 16px;
  color: $secondary;
  text-align: center;
  letter-spacing: 0.1rem;
  transition: 0.4s ease-in-out;

  &:hover {
    letter-spacing: 0.2rem;
    color: $quaternary;
  }

  & option {
    color: $secondary;
    font-family: $secondaryFont;
    font-weight: 500;
    font-style: italic;
    @include fontSize(18);
  }
}

// ==== .moviesCard Typography ====
.movieTitle {
  font-family: $primaryFont;
  text-align: center;
  @include fontSize(22);
}

.movieOverview {
  line-height: 1.2;
}

// ==== .genreTitle Typography ====
.genreTitle {
  font-family: $primaryFont;
  line-height: 5rem;
  letter-spacing: .1rem;
  @include fontSize(50);
}

// ==== Go Top Button Typography ====
.goTopBtn {
  color: $solidwhite;
  font-weight: bold;
  cursor: pointer;
  @include fontSize(25);
}

// ==== Modal Typography ====
.modalContentContainer {
  color: $solidwhite;
}

.modalTitle {
  font-family: $primaryFont;
  @include fontSize(25.6);
}

.modalOverview {
  line-height: 1.3rem;
  letter-spacing: .1rem;
  @include fontSize(20.8);
}

.close {
  color: $senary;
  font-size: 2.5rem;
  font-weight: 700;

  &:hover,
  &:focus {
    color: $quaternary;
    text-decoration: none;
    cursor: pointer;
  }
}