// ==== SITE FONTS ====
$primaryFont: "Young Serif";
$secondaryFont: "Jakarta Sans";

$baseFontSize: 1rem;

// ==== SITE COLOURS ====
$primary: #222;
$secondary: rgba(54, 75, 89, 0.8549019608);
$tertiary: #f5f5f5;
$quaternary: #bf6c6c;
$quinary: #e8e8e8;
$senary: #c5c5c5;
$septenary: #364b59da;
$octonary: #0069d9;

// ==== SITE SOLID COLOURS ====
$solidwhite: #ffffff;
$solidblack: #0000;
$solidgray: #979797;
